@import "functions";

.abas {
    padding: 10px;
    background-color: $link_color;
    display: inline-block;
    // border-bottom: 1px solid black;

    li {
        padding: 0 5px;
        display: inline-block;
        position: relative;
        vertical-align: middle;

        input {
            display: none;
        }

        ::after {
            content: '';
            display: block;
            visibility: hidden;
            background-color: $link_color;
            width: 10px;
            height: 10px;
            position: absolute;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-right: 1px solid transparent;
            left: 50%;
            bottom: -17px;
            transform: rotate(135deg);
        }

        input:checked ~ ::after {
            visibility: visible;
        }

        input:checked ~ a {
            color: black;
        }
    }

    a {
        text-decoration: none;
        color: snow;
    }

    &_conteudo {
        background-color: snow; 
        width: 100%;
        height: 50px;
        display: block;
    }
}
