.cb-slideshow,
.cb-slideshow:after {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.cb-slideshow:after {
    content: '';
    background: transparent url(../../images/pattern.png) repeat top left;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 24s linear infinite;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(../../images/pousada1.jpg);
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(../../images/pousada2.jpg);
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(../../images/pousada3.jpg);
    animation-delay: 10s;
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(../../images/pousada4.jpg);
    animation-delay: 15s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    25% {
        opacity: 1
    }
    37% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}