.header {
    background-color: #000;
    border-bottom: 1px solid #000;
    height: $header_height;
    line-height: $header_height;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    .header_content {
        color: snow;
        text-align: right;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }
}

.header-small {
    height: $header_height_small;
    line-height: $header_height_small;
    border-bottom: 1px solid white;
}