.nav {
    display: inline-block;
    line-height: $header_height;

    .nav_item {
        display: inline-block;
        margin-left: 40px;
    }
}

.nav_link {
    text-decoration: none;
    color: snow;
}