@import "reset";
@import "clearfix";
@import "variables";
@import "header";
@import "nav";
@import "cb-slideshow";
@import "abas";
@import "carrousel";
body {
    // background-color: #fafce8;
    // background-color: whitesmoke;
    color: #191919;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    line-height: 1.4;
}

a {
    color: $link_color;
    text-decoration: none;
    transition: color 200ms ease;
    &:active,
    &:focus,
    &:hover {
        color: shade($link_color, 25%);
    }
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

.site_content {
    max-width: 1920px;
    margin: auto;
}

.pousada,
.apartamentos,
.contato {
    border-bottom: 4px solid $link_color;
    font-family: 'Slabo 27px', serif;
    &_header {
        border-left: 15px solid $link_color;
        padding: 0 5px;
        text-overflow: ellipsis;
        h1 {
            // font-weight: bold;
            font-family: $logo_font_family;
        }
    }
}

.apartamentos,
.contato {
    height: calc(100% - #{$header_height_small});
    padding-top: $header_height_small;
    &_header {
        height: calc(20% - #{$header_height_small});
    }
}

.pousada {
    margin: auto;
    height: calc(100% - #{$header_height});
    padding-top: $header_height;
    &_header {
        height: calc(20% - #{$header_height});
        text-align: justify;
        // border-bottom: 4px solid $link_color;
    }
    &_fotos {
        margin: auto;
        max-height: 700px;
        overflow: hidden;
    }
}

.apartamentos {
    &_monstruario {
        padding-top: 15px;
        width: 100%;
        margin: auto;
    }
}

.apartamentos_header_categories {
    display: flex;
    justify-content: space-between;
    ul li {
        list-style-position: inside;
        list-style-type: square;
        line-height: 1em;
    }
}

.contato {
    display: block;
    &_conteudo {
        padding: 15px 5px;
        width: 100%;
        &_map {
            display: inline-block;
            width: 50%;
            max-width: 700px;
            height: 450px;
            vertical-align: top;
            padding-right: 5px;
            iframe {
                border: 1px solid lightgray;
                width: 100%;
                height: 100%;
            }
        }
        &_endereco {
            display: inline-flex;
            flex-flow: column;
            justify-content: space-around;
            width: 50%;
            height: 450px;
            vertical-align: top;
            position: absolute;
            right: 0;
        }
    }
}