@import "reset";

$header_height: 80px;
$link_color: #e6bf4c;

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

body {
    background-color: #fafce8;
    color: #191919;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: $link_color;
    transition: color 200ms ease;

    &:active,
    &:focus,
    &:hover {
        color: shade($link_color, 25%);
    }
}

h1 {
font-size: 3em;
}

.header {
    background-color: #000;
    border-bottom: 1px solid #333;
    height: $header_height;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    .header_content {
        color: snow;
        text-align: right;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }
}

.nav {
    display: inline-block;
    line-height: $header_height;

    .nav_item {
        display: inline-block;
        margin-left: 40px;
    }
}

.nav_link {
    text-decoration: none;
    color: snow;
}

.pousada {
    border-bottom: 1px solid #e5e5e5;
}


.pousada_content, .apartamentos_content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.pousada_content {
    padding-top: 120px;
    padding-bottom: 40px;   
    img {
        max-height:600px;
        opacity: 0.9;
    }
}

.gallery {
    text-align: center;
}

.apartamentos_content {
    padding-top: 120px;
}