@import "reset";
@import "variables";
@import "header";
@import "nav";
@import "slider";
@import "abas";
@import "carrousel";

body {
    background-color: #fafce8;
    color: #191919;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: $link_color;
    transition: color 200ms ease;

    &:active,
    &:focus,
    &:hover {
        color: shade($link_color, 25%);
    }
}

h1 {
    font-size: 3em;
}

.pousada, .apartamentos {
    height: calc(100% - #{$header_height});
    border-bottom: 1px solid #e5e5e5;
    padding-top: $header_height;

    &_header {
        height: calc(20% - #{$header_height});
        text-overflow: ellipsis;
    }
}

.pousada {
    &_fotos {
        max-height: 570px;
        overflow: hidden;
    }
}

.apartamentos {
    background-color: blue;
    &_monstruario {
        width: 100%;
        // max-width: 1280px;
        height: 600px;
        margin: auto;
    }
}

